.navbar-brand img {
  width: 250px;
}
.full-width {
  width: 100%;
}
.our_team{
  background: #fff;
}
.how_it_works {
  background: #f9f9f9;
}
.text-white{
  color: #fff;
}
.p-mid{
  padding-top: 130px;
  padding-bottom: 100px;
}
.btn-google-bg:hover{color: #000;}